@import '../../assets/sass/main.scss';

.welcome-msg{
  margin: 5rem;
  font-size: 3rem;
  font-weight: 100;
  & h3{
    font-weight: 100;
  }
  & .userName{
    color: rgb(231, 7, 7);
    font-weight: 500;
  }
}
.btnDiv{
  display: flex;
  justify-content: space-evenly;
  font-weight: lighter;
  margin: 19rem;
}
button{
  width: 15rem;
  height: 10rem;
  font-size: 2rem;
  
  @include boxShadow;
 
}